apiVersion: apps/v1
kind: Deployment
metadata:
  name: digicloset-node
spec:
  template:
    spec:
      containers:
        - name: node-app
          livenessProbe:
            httpGet:
              path: /health/live
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10